.a-my-profile__verify-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .a-my-profile__button {
    min-width: 82px;
    text-align: center;
    outline: none;
  }

  .a-my-profile__alert {
    padding: 5px 10px;
  }
}
