.a-idnow__form {
  max-width: 700px;

  .a-idnow__form-fullname {
    margin: 0px;
    padding: 0 0 0 15px;
  }
}

.a-idnow-button__wrapper {
  margin: 15px 0px;
  text-align: right;
}

.a-idnow-button {
  text-transform: uppercase;
}
