@import '../../../../../stylesheets/variables/base_colors';

.invoice-chat__messages {
  height: calc(100% - 250px);
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.invoice-chat__messages--valign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-chat__no-messages {
  color: $color-very-light-grey;
}
