@import '../../../../../stylesheets/variables/base_colors';
@import '../../../../../stylesheets/variables/corporate_colors';

$chat-message-highlighted: #f4faff;

.invoice-chat__message {
  width: 75%;
  float: left;

  .invoice-chat__message-author {
    color: $color-grey-light;
    padding-bottom: 5px;
  }

  .invoice-chat__message-date {
    color: $color-grey-light;
    padding-bottom: 5px;
  }

  .invoice-chat__message-text {
    clear: both;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 1px $color-ci-light-grey;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;

    border-top: 1px solid $color-ci-light-grey;
    word-wrap: break-word;

    &:before {
      background-color: $color-white;
      box-shadow: 1px 1px 0px 0 transparentize($color-black, 0.90);
      content: "";
      display: block;
      height: 10px;
      position: relative;
      top: -18px;
      transform: rotate(-140deg);
      width: 12px;
      float: left;
    }
  }

  .invoice-chat__message-text--odd {
    &:before {
      float: right;
    }
  }

  .invoice-chat__message-text--highlighted {
    background-color: $chat-message-highlighted;

    &:after {
      background-color: $chat-message-highlighted;
    }
  }
}

.invoice-chat__message--odd {
  float: right;

  &:after {
    top: 29px;
    transform: rotate(40deg);
    float: right;
  }
}
